API_ID=18049141 # get this value from my.telegram.org
API_HASH=33c6df371ed1d7a8ae546c82a75a493f # get this value from my.telegram.org
BOT_TOKEN=6454131023:AAHJf5io_AfTiwZbjxkXXtKD-AdiClRKoe4 # get this value from @Botfather
MONGO_DB_URI=Mongodb Uri # get this value from mongodb.com
LOG_GROUP_ID=-1001908420791 # get this value from in your log group 
MUSIC_BOT_NAME=BitFarms Music Bot # your music bot name 
STRING_SESSION=BACsdiz8a9L1l68nw6Ld1TN5br8mVP0b1JTwYyAtYOkLk-zhViLy-WYaPsBdf1opoQIiB3zG3CqGLzW9-swZrvtCuAjTPkRlHZho40vd5mBsJVAn6X6g7pusx5jPvWKlknaTO_mP6Z-nXypmyoRWP5LbPi1Fzhj7HHiXcQU5QUtesBZjLSSF-OqQMd4RAfZUqREk03Juk1Fj1SPJJdDrPuhKw7FQWiHkTit52o65fM6RHprEbtjL8X4YW93_vHt4ZK6gY83IwOFKgOjfleencvNcT1wAZPaqgjtC8GUqYTLZ7IMYf8ugmYglGHMwh98R-FL2EJWgDQmPls5mRsKmELvdAAAAAXtfLQEA 
